---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <span>
      {% for tag in page.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
      <a href="/tag/{{ tag_name }}" class="tag">{{ tag_name }}</a>
      {% endfor %}
  </span>
  {{ content }}
</div>

{% if site.related_posts.size > 0 %}
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if page.commentIssueId %}

<script type="text/javascript">
  $("#post p").each( function(index) {
    if (index > 0 && $.trim($(this).text()).length > 0) {
      $(this).attr("id", "par" + index.toString());
      var html = $(this).html();
      $(this).html(html + " <a href='#par" + index.toString() + "'>#</a>");
    }
  });
</script>

<div id="comments">
  <h2>Comments</h2>
  <div id="header">    
    <a href="https://github.com/{{site.github.user}}/{{site.github.project}}/issues/{{page.commentIssueId}}">Leave a comment</a>.
  </div>
</div>

<script type="text/javascript">
  function timeSince(date) {
    var seconds = Math.floor((new Date() - date) / 1000)
    var interval = Math.floor(seconds / 31536000)
    if (interval > 1) {
      return interval + " years"
    }
    interval = Math.floor(seconds / 2592000)
    if (interval > 1) {
      return interval + " months"
    }
    interval = Math.floor(seconds / 86400)
    if (interval > 1) {
      return interval + " days"
    }
    interval = Math.floor(seconds / 3600)
    if (interval > 1) {
      return interval + " hours"
    }
    interval = Math.floor(seconds / 60)
    if (interval > 1) {
      return interval + " minutes"
    }
    return Math.floor(seconds) + " seconds"
  }
  
  function loadComments(data) {
    for (var i=0; i<data.length; i++) {
      var cuser = data[i].user.login;
      var cuserlink = "https://www.github.com/" + data[i].user.login;
      var clink = "https://github.com/IanKeen/iankeen.github.io/issues/{{page.commentIssueId}}#issuecomment-" + data[i].url.substring(data[i].url.lastIndexOf("/")+1);
      var cbody = data[i].body_html;
      var cavatarlink = data[i].user.avatar_url;
      var cdate = timeSince(new Date(data[i].created_at)) + " ago";
      $("#comments").append("<div class='comment'><div class='commentheader'><div class='commentgravatar'>" + '<img src="' + cavatarlink + '" alt="" width="20" height="20">' + "</div><a class='commentuser' href=\""+ cuserlink + "\">" + cuser + "</a><a class='commentdate' href=\"" + clink + "\">" + cdate + "</a></div><div class='commentbody'>" + cbody + "</div></div>");
    }
  }
  $.ajax("https://api.github.com/repos/{{site.github.user}}/{{site.github.project}}/issues/{{page.commentIssueId}}/comments?per_page=100", {
    headers: {Accept: "application/vnd.github.v3.full+json"},
    dataType: "json",
    success: function(msg){
      loadComments(msg);
   }
  });
</script>

{% endif %}
